//mods and complements

/*MODS*/
// fixed vertical position icons in line txt
.mdl-menu
.mdl-navigation__link
    .material-icons
        vertical-align middle

.mdl-button
    text-transform none

.material-icons
    vertical-align middle

//validations angular
input.ng-valid.ng-touched{}

input.ng-invalid.ng-touched
    & + .mdl-textfield__label:after
        width 100%
        background-color #f44336
        visibility visible
        left 0

.mdl-button
    text-transform none

.mini-input.mdl-textfield
    padding-bottom 10px

    .mdl-textfield__label:after
        bottom 10px

.mini-input.mdl-textfield
    padding-bottom 10px

    .mdl-textfield__label:after
        bottom 10px

.mdl-textfield.always-view
    &.mdl-textfield--floating-label .mdl-textfield__label
        font-size 12px
        top 4px
        visibility visible

input.mdl-textfield__input[type="file"]
    font-size 12px

/*COMPLEMENTS*/
//fonts
.font-w-bold
    font-weight bold

.font-w-normal
    font-weight normal

.font-w-light
    font-weight light

.text-a-left
    &
    td&
    th&
        text-align left
.text-a-center
    &
    td&
    th&
        text-align center
.text-a-right
    &
    td&
    th&
        text-align right
.text-a-justify
    &
    td&
    th&
        text-align justify

.text-muted
    color $gray

.text-primary
    color $primary

.text-success
    color $success

.text-info
    color $info

.text-warning
    color $warning

.text-danger
    color $danger

.table-overflow
    display block
    overflow hidden
    overflow-x auto
    padding-bottom 50px

// TABLES
tr, th, td
    &[ng-click]
        cursor pointer

.table-list
    width 100%
    border-left none
    border-right none
    border-top none

    thead
        tr
            background transparent
        th
            transition ease-in-out 250ms all
            padding 0 0 0 $paddingBox
            height auto
            font-size $text_ps
            font-weight normal
            cursor default

                &:before
                    beforeAfter inline-block relative 3px 3px
                    arrow 6px 6px down $grey-700
                    margin-right 3px
                    vertical-align middle
                    top -1px
                    opacity 0
                    transform rotate(0)
                    transition ease-in-out 250ms all

                &:hover
                    background $grey-200

                    &:before
                        opacity 0.5

            &.order
                font-weight bold
                color $grey-700

                &:before
                    opacity 1

            &.reverse
                &:before
                    transform rotate(180deg)

            &.active
                font-weight bold

    tbody
        tr
            height auto

            td
                height auto
                padding 4px 0 4px $paddingBox
                border-top 1px solid $grey-200
                border-bottom 1px solid $grey-200

                .mdl-switch
                    display inline

                &:last-child
                    text-align right

    /.text-overflow
        display block
        max-width 320px
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

        &.owner
            max-width 150px

    .mdl-button--icon
        size 24px
        min-width 24px
        color $grey-600

.tbody-description
    > tr
        height auto !important

        > th, > td
            border none
            padding-top 6px !important
            padding-bottom 6px !important
            min-height 0
            height auto

    /.tr-description
        display none

        > td, > th
            white-space pre-line
            text-align left
            padding-top 0
            padding-bottom 0
            font-size $text_ps

            &::first-line
            &::first-letter
                font-size $text_p
                font-style italic

        &:hover
            background transparent !important

    &.description-open
        background rgba(80,80,80,0.05)

        tr
            > th, > td
                font-weight bold

        .tr-description
            display table-row

            > td, > th
                font-weight normal
                padding-bottom 12px
                border-bottom 1px #ccc solid

// BUTTONS MDL COLORS

// Default
mdlButton-default($bg=#ccc, $col=#333, $col2=#333 , args...)
    &.mdl-button--raised
    &.mdl-button--fab
    &.mdl-button
        color $col args
        background $bg args
        
        &:not(.mdl-button.mdl-button--accent)
            &:hover
                background lighten($bg,20%) args
                color $col args
                
                &[disabled]
                    &, &:hover
                        color $col2 args
                        background $bg args
                        opacity 0.5
    
    &.mdl-button:not(.mdl-button--accent)
        color $col args

        &:hover
            background lighten($bg,20%) args
            color $col2 args
        
        &[disabled]
            &, &:hover
                color $col args
                background $bg args
                opacity 0.5
//mdlButton-default #000 #fff #000

// Primary
mdlButton-primary($bg=blue, $col=#fff, $col2=blue , args...)
    &.mdl-button--fab.mdl-button--colored
    &.mdl-button--accent.mdl-button--accent.mdl-button--raised
    &.mdl-button--accent.mdl-button--accent.mdl-button--fab
        background $bg args
        color $col args

        &:hover
            background lighten($bg,20%) args
            color $col args

        &, &.mdl-button--accent.mdl-button--accent
            color $col2 args

            &:hover
                color $col args
                
            &[disabled]
                &, &:hover
                    color $col2 args
                    background $bg args
                    opacity 0.5
    
    &.mdl-button--accent.mdl-button--accent
    &.mdl-button--primary
        color $bg args
        
        &[disabled]
            &, &:hover
                color $bg args
                opacity 0.5
//mdlButton-primary #000 #fff #000

// Secundary
mdlButton-secondary($bg=purple, $col=#fff, $col2=purple , args...)
    &.mdl-button--raised.mdl-button--colored
        background $bg args
        color $col args

        &
        &.mdl-button.mdl-button--colored
            color $col2 args

            &:hover
            &:focus
                color $col
                background lighten($bg,20%) args
            
            &[disabled]
                &, &:hover
                    background $bg args
                    opacity 0.5
                    
    &.mdl-button--primary.mdl-button--primary
    &.mdl-button--colored:not(.mdl-button--fab.mdl-button--colored)
        color $bg args
//button\ mdlButton-secondary #000 #fff #000

// Disable
mdlButton-disabled($bg=gray, $col=#fff, $col2=gray , args...)
    &.mdl-button--fab[disabled][disabled]
    &.mdl-button--fab.mdl-button--disabled.mdl-button--disabled
    &.mdl-button--raised[disabled][disabled]
    &.mdl-button--raised.mdl-button--disabled.mdl-button--disabled
        color $col2 args

        &:hover, &:focus
            background $bg args !important
            color $col args !important
            
    &.mdl-button[disabled][disabled]
    &.mdl-button.mdl-button--disabled.mdl-button--disabled
        color $col2 args
//mdlButton-disabled #000 #fff #000

//load widget
*[loading-widget]
    position fixed
    //background transparent
    left 0
    right 0
    top 0
    width 100%
    height 0
    box-sizing border-box
    z-index 1000
    text-align center
    transition ease-in-out 1s opacity
    //transition-property opacity

    &[style*="display: none"]
        display block !important
        color red


    &[style="display: block;"]
        z-index 9999
        color blue

        .tag-loading
            display block
            opacity 1
            top 0px

        &.pass
            .tag-loading
                opacity 0
                display none

    .tag-loading
        top -50px
        opacity 0
        display block
        transition ease-in-out 1.25s all

    .tag-loading
    .tag-block-screen
        margin 10px auto
        position absolute
        background #FFF0B5
        color #333
        text-align center
        max-width 200px
        left 0
        right 0
        border-radius 4px
        padding 2px 6px

    .tag-block-screen
        display none

    &:before
        content ''
        height 100%
        display none
        background rgba(#fff, .75)
        position fixed
        top 0
        left 0
        right 0
        bottom 0
        width 100%
        height 100%
        z-index 0
        transition ease-in-out 1s all

    &.block
        display none

    &.block
    &.block-remove
        &:before
            display block

        .tag-block-screen
            transition ease-in-out 1s opacity
            display block

    &.block-remove
        &:before
        .tag-block-screen
            opacity 0

.efor-layout__footer
    position fixed
    bottom -1px
    height 1px
    left 0
    right 0
    width auto
    z-index 10
    user-select none

    @media(max-width $screen-md)
        position static
        height auto

    .wrapper
        //width 90%
        position relative

    .efor-button--fab
        display block
        position absolute
        bottom 10px *2
        right 10px *3
        transition ease-in-out all 250ms
        background #fff
        border-radius 1000px
        size 50px
        vertical-align middle
        line-height 50px
        box-shadow rgba(0,0,0,0.25) 0 0 3px 0
        text-align center
        display none

        &:hover
            bottom ($paddingBox + 15)
            box-shadow rgba(0,0,0,0.20) 0 2px 4px 0, rgba(0,0,0,0.20) 0 8px 8px 0

        &:active
            box-shadow rgba(0,0,0,0.10) 0 2px 2px 0

        .efor-logo_ef
            width 66%
            height auto
            margin -5%
            margin-top -10%
            vertical-align middle

    .efor-footer-credits
        display block
        position relative
        text-decoration none

        img.efor-footer
            float right
            position absolute
            right 0
            bottom 0
            width 170px

        .powerby
            display none
            text-align center
            color #000
            opacity 0.5
            width 100px
            margin auto

            img
                max-width 100%

            span
                font-size $text_ps

            .efor-mono
                width 100%
                display block
                margin auto
                margin-top -8px

        @media(max-width $screen-md)
            position static

            .efor-footer
                display none

            .powerby
                display block

.social-icons
    text-align center
    padding 0 0 10px

    a
        display inline-block
        margin 4px

    img
        width 24px
        height auto